@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
$neon-red: #c02020;
$light-red: #ff0020;

$font-xlarge: 70px;
$font-medium: 12px;

$spacing-xl: 64px;
$spacing-md: 25px;








.text-container {
    display: inline-block;
    border: solid 3px #ff4d4d;
    animation: boxShadow 1.6s infinite;
    padding-left: 20px;
    background-color: #00000060;
    animation: textShadow 1.6s infinite;
    width: 95%;
    margin-left: 29px;

    p {
        font-family: monospace;
        font-size: 20px;
        color: #ff4d4d;
        animation: typing 6s steps(90, end) forwards;

    }

    p.c1 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    p.c2 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 7s;
    }

    p.c3 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 13s;
    }

    p.c4 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 17s;
    }

    p.c5 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 23s;
    }

    p.c6 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 28s;
    }

    p.c7 {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation-delay: 30s;
    }

}






a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    color: #ff4d4d;
    font-family: monospace;
    font-size: 40px;
    margin-top: 50px;
    animation: textShadow 1.6s infinite;
}


.container {
    padding: $spacing-md;
    border: 12px solid #ff4d4d;
    border-radius: 2px;
    animation: neon-effect-box 0.8s cubic-bezier(0.94, 0.46, 0.52, 1.16) infinite alternate;
    width: 720px;
}

section {
    display: flex;
    margin: $spacing-xl 0;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Dela Gothic One', cursive;
    font-size: $font-xlarge;
    color: #ff4d4d;
    animation: textShadow 1.6s infinite;
}

.box {
    background: #ff4d4d;
    padding: 5px 35px 35px 5px;
    letter-spacing: 4px;
    animation: neon-effect-box 1.1s cubic-bezier(0, 1.46, 0.82, 0.96) infinite alternate;
    margin-bottom: $spacing-md;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 26px;
    padding-top: 22px;
}

.p {
    font-family: monospace;
    color: black;
    font-size: 20px;
    padding: 17px;
    font-weight: bold;
}

@keyframes blink {
    from {
        border-color: #b996a2
    }

    to {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes neon-effect-box {
    from {
        box-shadow: 0 0 0px $neon-red;
    }

    to {
        box-shadow: 0 0 24px #ff4d4d;
    }
}