div {
    margin-top: 129px;
}

.info-container {
    display: flex;
    border: solid 3px #ff4d4d;
    animation: boxShadow 1.6s infinite;
    padding-bottom: 13px;
    padding-left: 25px;
    margin-right: 188px;
    margin-left: 188px;
    margin-top: 50px;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 15px;
    color: #ff4d4d;
    background-color: #00000060;
    animation: textShadow 1.6s infinite;

    .text-container {
        display: inline-block;
        margin-top: 13px;
        animation: blink 1s infinite;
        p{
            animation: typing 6s steps(90, end) forwards;
        }
        p.c1 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        p.c2 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 7s;
        }

        p.c3 {
            width: 0;
            overflow: hidden;
            white-space: nowrap; 
            animation-delay: 13s;
        }

        p.c4 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 17s;
        }

        p.c5 {
            width: 0;
            overflow: hidden;
            white-space: nowrap; 
            animation-delay: 23s;
        }

        p.c6 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 28s;
        }

        p.c7 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 30s;
        }

    }




}

a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    color: #ff4d4d;
    font-family: monospace;
    font-size: 25px;
    margin-top: 50px;
    animation: textShadow 1.6s infinite;
}

@keyframes blink {
    from { border-color: #b996a2}
    to {border-color: transparent}
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }